{% extends 'app_general/components/base.html' %}

{% block site_title %} Shop | Denfah Printing{% endblock  %}

{%block content %}

<br>
 <!-- About Section -->
 <div class="w3-container w3-padding-32" id="Shop">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Shop</h3>
    <!-- วนลูป all_shops title จากไฟล์ views.py -->
    {% for shop in all_shops %}
      <!-- h3 ลิงค์ไปหน้า  -->

    <h1>
     
      
    </h1>
      
      
      
    {% endfor %}
  


  
  
  </div>


{% endblock %}


