
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="#home" class="w3-bar-item w3-button"><b>Denfah Printing </b>Company</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button">Homapage</a>
        <a href="{% url 'shops' %}" class="w3-bar-item w3-button">Shop</a>
        <a href="{% url 'about' %}" class="w3-bar-item w3-button">About</a>
      </div>
    </div>
  </div>
  
  
    